.div-interna
{ 

    background: black;
background-color: black;
height: 300px;
width: 100%;

}

.btn-outine {

background: transparent;
font-size: 13px;
border: 2px solid black;
border-radius: 5px;
cursor: pointer;


}